/*
.dropdownbutton {
    background-color: blue;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline;
    text-align: center;
    justify-content: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-weight: 150px;
}
.dropdown-menu a {
    color: black;
    padding: 11px 15px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdownbutton {
    background-color: grey;
}*/
body {
  background-color: darkblue;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}